.ads-head {
    width: 50%;
    border: 1px solid;
    overflow: hidden;
    cursor: pointer;
    height:auto;
    margin: 20px auto  5px;
    /* transform: scale(0.65); */
}

.close-ads {
    position: absolute;
    padding: 1px;
}
.ads-head img {
    width: 100%;
    object-fit: fill;
}