


.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 25px 15px;
    width: 100%;
    margin-bottom: 25px;
}

.context {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #e9eef1;
}
.int-1 {
    font-size: clamp(22px,4vw,54px);
    margin-bottom: 30px;
   margin-right: 15px;
    background: linear-gradient(#00000000, #363533c8);
    border-radius: 10px;
    text-wrap: nowrap;
    position: relative;
}
.int-1::after {
    content: attr(intext);
    position: absolute;
    transform: scaleY(-0.3);
    width: 100%;
    color: #101010;
    text-shadow: 4px 4px 15px #000,4px 4px 10px#000;
    top: 45%;
    left: 5px;
    opacity: 0.5;
    pointer-events: none;
}


.p1 {
    font-size: clamp(14px,3vw,27px);
}
.p2 {
    font-size:clamp(14px,2vw,22px);;
}

.buy-1 {
    margin-top: 25px;
    font-size: 22px;
    justify-self: flex-start;
    align-self: flex-start;
}

.image-box {
    width: 50%;
    aspect-ratio: 10/6;
    box-sizing: border-box;
    position: static;
    top: 0;
    left: 0;
    overflow: hidden;
    box-shadow: 0 0 25px;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: fill;
    animation: slide 20s infinite;
    /* transform: translateX(-100%); */
}

 img {
    width: 150%;
    object-fit: fill;
    height: 100%;
}

@keyframes slide {
    0%{transform: translateX(0);}
    15%{transform: translateX(0);}
    25%{transform: translateX(-100%);}
    35%{transform: translateX(-100%);}
    45%{transform: translateX(-200%);}
    55%{transform: translateX(-200%);}
    65%{transform: translateX(-300%);}
    75%{transform: translateX(-300%);}
    85%{transform: translateX(-400%);}
    95%{transform: translateX(-400%);}
    100%{transform: translateX(0);}
}

.title {
    font-size: 44px;
    color: #e9eef1;
    position: absolute;
    transform: translateX(550px);
}

@media screen and (max-width:768px){
    .content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;

    }
    .image-box {
        width: 100%;
        margin-bottom: 25px;
    }
    
}



/* SECOND ROW // COFFEE ROW */

/* Ref link */
.m-nav {
    display: block;
    gap: 0px;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 25%;
    justify-content: space-between;
}
.cs {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}
.c1{
text-decoration: none;
font-size: clamp(16px, 2vw, 22px);
color: #ecf1cc;
text-align: start;
padding: 5px;
width: 100%;
}
.c2 {
    text-decoration: none;
    font-size: clamp(16px, 2vw, 22px);
color: #ecf1cc;
text-align: end;
padding: 5px;
width: 100%;
}
.c2:hover {
    text-decoration: underline;
}

/* COFFEEE STAND */
.content-2 {
    display: block;
    flex-direction: column;
    justify-content: center;

    background: #ffffff12;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 25px;
}

.int-2 {
    background: linear-gradient(#cbcfd1,#cccbc4);
    background-clip: text;
    padding: 5px;
    color: transparent;
    text-align: center;
font-size: clamp(27px,2vw, 30px);
margin-bottom: 10px;
}

.coffee-stand {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.coffee-stand-scroll {
    display: flex;
    width: 100%;
    border: 5px solid #ffffff1a;
    margin: 0 auto;
    height: auto;
    padding: 5px;
    margin-top: 35px;
    align-items: center;
    border-radius: 10px;
    gap: 15px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background: #ffffff1a;
}

.coffee-stand-scroll img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    border-radius: 10px 10px 0 0;
}


.box-1,.box-2,.box-3 {
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 260px;
    height: 300px;
    aspect-ratio: 1/1;
    overflow: hidden;
    box-shadow: 0 0 15px #333;
    transition: .2s ease-in-out;
    transform: scale(0.9);
}
.box-1:hover,.box-2:hover,.box-3:hover {
    transform: scale(1);
    box-shadow: 0 0 15px #afaf27;
    border-radius: 5px;
}


.index {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.image1-2,.image2-2, .image3-2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius:10px 10px 0 0 ;
    background: #fff;   
}

.image1-2 img, .image2-2 img, .image3-2 img {
    border-radius: 20%;
    padding: 5px;
}


.details {
    background: #f6f8e6;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 7px;
}

.item-name {
    font-size: clamp(15px,1.6vw, 18px);
    border-left: 2px solid #afaf27;
    text-align: start;
    width: 100%;
}

.price {
    font-size: clamp(13px, 2.1vw,18px);
    color: #333;
    text-align: end;
    z-index: 2;
    width: 100%;
}

.buy-3{
    font-size: clamp(13px, 1.6vw, 18px);
    font-weight: bold;
    border-radius: 10px 0 10px 0;
    height: 25%;
    padding: 5px;
    text-align: center;
}
.buy-3:active {
    background: #93d19c;
    transform: scale(1.03);
}


@media screen and (max-width:768px) {
    .container-1{
        justify-content: center;
    }
    .content-2 {
        width: 100%;
        gap: 0;
        padding: 0px;
    }
    .coffee-stand {
        /* flex-direction: column;
        overflow: hidden;
        overflow-x:auto; */
        width: 100%;
    }
    .coffee-stand-scroll {
        gap: 5px;
        padding: 5px;
    }

    
    .box-1,.box-2,.box-3 {
        min-height: 300px;
    }
}
