
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(0deg,#232324, #47484a);
    padding: 10px 30px;
    z-index: 1;
}
/* LOGO */
.logo {
    display: flex;
    align-items: center;
    transition: .18s ease-in-out;
    width: 20%;
    cursor: pointer;
    justify-content: center;
}.logo:hover {
transform: scale(1.05);
}

.logo img {
    width: 60px;
}
.name-logo {
    /* position: absolute; */
    /* translate: 30px 10px; */
    color: #e0d06e;
    font-size: 32px;
    translate: -10px 8px;
    text-align: end;
}

/* MENU BTN */
.toggle-menu {
    display: none;
}
.menu-btn {
    display: none;
    padding: 5px;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    border: 2px solid;
    color: #e0d06e;
}.menu-btn:active {
    background: #f0e6a45c;
}

/* LINKS */
.nav-links {
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: end;
    padding-right: 55px;

}
.link {
    list-style: none;
    position: relative;
    padding-bottom: 2px;
}
.link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: #e0d06e;
    height: 2px;
    transition: .2s ease-in-out;
}
.link:hover::after{
    width: 100%;
}

/* HOME */
.link a:focus{
    color: #e0d06e;
}


.link a {
    text-decoration: none;
    padding: 7px;
    color: #e9eef1;
    font-size: clamp(15px,2vw,22px);
    text-wrap: nowrap;
}
.link a:hover {
    color: #f0e6a4;
}

/* SIGN IN */

.signin {
    border: 1px inset #f0e6a4;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    list-style: none;
    padding: 5px;
    justify-self: flex-end;
    font-size: clamp(15px,2vw,22px);
}
.signin a {
    text-decoration: none;
    padding: 5px;
    color: #f0e6a4;
}


@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
    }
    .logo img {
        width: 40px;
    }
    .name-logo {
        font-size: 22px;
    }
    .nav-links {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
        gap: 10px;
    }
    .link {
        width: 40%;
        justify-content: center;
        display: flex;
    }.link::after {
        height: 0;
    }

    .link a{
        font-size: 15px;
        text-wrap: nowrap;
    }

    /* SIGN IN */

.signin {
    width: 100%;
    padding: 10px;
    display: block;
        text-align: center;
}

.Login a {
    text-decoration: none;
    color: #e9eef1;
    
    font-size: 15px;
}


/* BTN RESPONSIVE */
.menu-btn {
    text-align: center;
    cursor: pointer;
    font-size: 21px;
    margin: 25px 0 0;
    width: 90%;
    display: block;
}
.toggle-menu:checked~.nav-links {
    display: flex;
}
}